.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 20px;
}
.carousel-item{
    padding: 20px 40px;
}
.carousel-item h1{
    font-weight: 900;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100% );
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1,.cat2,.cat3{
    padding: 15px 30px;
    color: white;
    border-radius: 10px;
    margin-top: 15px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: #FF136F;
}
.cat3{
    background-color: rgb(50, 50, 204);
}
.catergories img{
    width: 120px;
}
.price2{
    font-weight: 800;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightslategray;
    border-radius: 20px;
}
.card-footer{
    background-color: white;
    border: none;
}
#subscribe{
    height: 300px;
}
#subscribe p{
    color: gray;
}